<h1>マイページ</h1>
<p>登録情報<p>
<%= link_to '編集する' , end_users_edit_path ,class:''%>
<p>パスワードを変更する<p>

<table>
  <tr>
    <td>氏名</td>
    <td><%= @end_user.last_name %><%= @end_user.first_name %></td>
  </tr>
  <tr>
    <td>カナ</td>
    <td><%= @end_user.last_name_kana %><%= @end_user.first_name_kana %></td>
  </tr>
  <tr>
    <td>郵便番号</td>
    <td><%= @end_user.postcode %></td>
  </tr>
  <tr>
    <td>住所</td>
    <td><%= @end_user.street_address %></td>
  </tr>
  <tr>
    <td>電話番号</td>
    <td><%= @end_user.phone_number %></td>
  </tr>
  <tr>
    <td>メールアドレス</td>
    <td><%= @end_user.email %></td>
  </tr>
</table>

<p>配送先<p><p>一覧を見る<p>
<p>注文履歴<p><p>一覧を見る<p>