<div class = "container">
    <div class = "row">
        <div class = "col-md-6 offset-md-2">
            
            <%= render "admin/items/search", items:@items %>
            <table>
                <tr>
                <th>商品ID</th>
                <th>商品名</th>
                <th>税抜価格</th>
                <th>ジャンル</th>
                <th>ステータス</th>
                </tr>
                <% @items.each do |f| %>
                <tr>
                <td><%= f.id %></td>
                <td>
                <%= link_to admin_item_path(f.id) do %>
                    <%= f.name %>
                <% end %>
                </td>
                <td><%= f.without_tax %></td>
                <td><%= f.genre.genre_name %></td>
                <td>
                    <% if f.is_sold == false %>
                        <p>販売中</p>
                    <% else %>
                        <p>売り切れ</p>
                    <% end %>
                </td>
                </tr>
                <% end %>
            </table>

            <%= link_to '商品新規登録',  new_admin_item_path %>
        </div>
    </div>
</div>