<div class = "container">
    <div class = "row">
        <div class = "col-md-6 offset-md-2">
            <%= render "admin/items/search", items:@items %>
            <%= attachment_image_tag @item, :image %>
            <table>
                <tr>
                    <td>商品</td>
                    <td><%= @item.name %></td>
                </tr>
                <tr>
                    <td>商品説明</td>
                    <td><%= @item.description %></td>
                </tr>
                <tr>
                    <td>ジャンル</td>
                    <td><%= @item.genre.genre_name %></td>
                </tr>
                <tr>
                    <td>税抜価格</td>
                    <td><%= @item.without_tax %></td>
                </tr>
                <tr>
                    <td>販売ステータス</td>
                    <td>
                    <% if @item.is_sold == false %>
                        <p>販売中</p>
                    <% else %>
                        <p>売り切れ</p>
                    <% end %>
                </td>
                </tr>
            </table>
        </div>
    </div>
</div>