<div class = "container">
    <div class = "row">
        <div class = "col-md-6 offset-md-2">
            
            <%= render "admin/items/search", items:@items %>

            <table class>
                <tr>
                    <th>会員ID</th>
                    <th>氏名</th>
                    <th>メールアドレス</th>
                    <th>ステータス</th>
                </tr>
                <% @end_user.each do |f| %>
                <tr>
                    <td><%= f.id %></td>
                    <td><%= f.first_name %><%= f.last_name %></td>
                    <td><%= f.email %></td>
                    <% if f.is_signed == true %>
                        <td>無効</td>
                    <% else %>
                        <td>有効</td>
                    <% end %>
                </tr>
                <% end %>
            </table>
        </div>
    </div>
</div>
